body {
    background-image: url('/static/images/background.jpg'); /*https://www.vecteezy.com/vector-art/640206-purple-triangulated-background-texture-vector*/
    background-size: cover;
    text-align: center;
}

@media only screen {
    body {
        background-image: url('/static/images/background-mobile.jpg');
    }
}

#outer-frame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 20rem;
}

#inner-frame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    width: 30rem;
    height: 10rem;
}

#join-form {
    display: inline-block;
    padding: 10px 20px 10px 10px;
    border: 0.1px solid white;
    border-radius: 2px;
    /* background-color: #E6E6FA; */
    /* background: linear-gradient(45deg, #c9c9e6, #e6e6fa); */
    /* background: linear-gradient(45deg, #e6e6fa, #c9c9e6); a6a6d9*/
    background-image: radial-gradient(circle, #c9c9e6, #e6e6fa);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 25px;
}

#create-form {
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}

#code-label {
    display: inline-block;
    width: 6rem;
    font-family: Arial;
    font-weight: bold;
    font-size: 27px;
    color: black;
    text-align: right;
    margin-right: 1rem;
}

#text-input {
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin: 5px;
    padding: 5px;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    color: black;
    text-align: center;
}

.button {
    padding: 10px 15px;
    background-image: radial-gradient(ellipse, #7B1FA2, #660099);
    background-size: cover;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#help-button {
    position: fixed;
    top: 20px;
    right: 20px;
}

.button:hover {
    background-color: darkviolet;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}