*{
    box-sizing: border-box;
  }
  #board {
     display: grid;
     margin: auto;
     /*first and last row and column are bigger than others*/
     grid-template-columns: 13vh repeat(8, 10vh) 13vh;
     grid-template-rows: 13vh repeat(8, 10vh) 13vh;
     left:5%;
     width:fit-content;
     align-items: centre;
     /*a, b, c, d are 4 rows and o is center*/
     grid-template-areas:
        "c c c c c c c c c d"
        "b o o o o o o o o d"
        "b o o o o o o o o d"
        "b o o o o o o o o d"
        "b o o o o o o o o d"
        "b o o o o o o o o d"
        "b o o o o o o o o d"
        "b o o o o o o o o d"
        "b o o o o o o o o d"
        "b a a a a a a a a a";
      background-color: white;
      font-size: 2vh;
      margin: auto;
   }

   .orientation0 {
      transform: rotateZ(0);
   }
   .orientation1 {
      transform: rotateZ(-90deg);
   }
   .orientation2 {
      transform: rotateZ(180deg);
   }
   .orientation3 {
      transform: rotateZ(90deg);
   }

  #center {
     grid-area: o;
     background: rebeccapurple;
  }
  .row {
     display: flex;
  }
  .tile {
     display: flex;
     flex-direction: column;
     border: 1px solid;
     height: 100%;
     width: 100%;
  }
  .tile-color {
     flex: 3;
  }
  .tile-name {
     flex: 6;
  }
  .tile-price {
     font-size: 0.8em;
     font-weight: bold;
  }
  /*colour each group of properties*/
  .col1 {
     background-color: saddlebrown;
  }
  .col2 {
   background-color: lightskyblue;
  }
  .col3 {
     background-color: hotpink;
  }
  .col4 {
     background-color: orange;
  }
  .col5 {
     background-color: red;
  }
  .col6 {
     background-color: yellow;
  }
  .col7 {
     background-color: green;
  }
  .col8 {
     background-color: darkblue;
  }
  
  /*Flex directions are used to give the tiles correct order*/
  #row-0 {
     grid-area: a;
     flex-direction: row-reverse;
  }
  #row-1 {
     grid-area: b;
     flex-direction: column-reverse;
  }
  #row-2 {
     grid-area: c;
     flex-direction: row;
  }
  #row-3 {
     grid-area: d;
     flex-direction: column;
  }

  /*test image*/
  .bus-stop-image {
      background-image: url('/static/images/bus.webp');
  }
  .wine-bottle-image {
      background-image: url('/static/images/wine.webp')
  }

  .h-image {
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   margin: 0.75em 0em;
  }
  .v-image {
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   margin: 0em 0.75em;
   transform: rotate(90deg);
  }
  
  /*To make the corner tiles bigger and square*/
  .row > .tile:nth-child(1){
    flex: 0 0 13vh;
  }
  
  /*Turn tiles*/
  #row-1 .tile{
      writing-mode: vertical-rl;
  }
  #row-2 .tile{
      transform: rotate(180deg);
  }
  #row-3 .tile{
      writing-mode: vertical-rl;
      transform: rotate(180deg);
  }

   /*move text down a bit*/
   #row-0 .tile .tile-name{
      padding-top : 0.4em;
      padding-bottom : 0.4em;
   }
   #row-1 .tile .tile-name{
      padding-right : 0.4em;
      padding-left : 0.4em;
   }
   #row-2 .tile .tile-name{
      padding-top : 0.4em;
      padding-bottom : 0.4em;
   }
   #row-3 .tile .tile-name{
      padding-right : 0.4em;
      padding-left : 0.4em;
   }

   /*give each colour a black border along one side*/
   #row-0 .tile .tile-color{
      height: 10%;
      border-bottom: 2px solid black;
   }
   #row-1 .tile .tile-color{
      width: 10%;
      border-left: 2px solid black;
   }
   #row-2 .tile .tile-color{
      height: 10%;
      border-bottom: 2px solid black;
   }
   #row-3 .tile .tile-color{
      width: 10%;
      border-left: 2px solid black;
   }
  
  /*Turn corners*/
  .row > .tile:first-child{
      text-align: center;
  }
  #row-0 > .tile:first-child .tile-name{
      transform: rotate(-45deg) translateY(35%);
  }
  #row-1 > .tile:first-child .tile-name{
      transform: rotate(-45deg) translateX(-35%);
  }
  #row-2 > .tile:first-child .tile-name{
      transform: rotate(-45deg) translateY(35%);
  }
  #row-3 > .tile:first-child .tile-name{
      transform: rotate(-45deg) translatex(-35%);
  }
  .grid > .player{
   color: black;
   grid-row: 2 / 10;
   grid-column: 1 / 10;
  }

  /*options pop up box*/
  .options-popup {
   display: none;
   position: fixed;
   top: 20%;
   height: 60%;
   left: 10%;
   width: 80%;
   border: 3px solid #f1f1f1;
   z-index: 9;
   background-color: pink;
 }

 /* Style the tab */
.tab {
   float: left;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
   width: 30%;
   height: 300px;
 }
 
 /* Style the buttons that are used to open the tab content */
 .tab button {
   display: block;
   background-color: inherit;
   color: black;
   padding: 22px 16px;
   width: 100%;
   border: none;
   outline: none;
   text-align: left;
   cursor: pointer;
 }
 
 /* Change background color of buttons on hover */
 .tab button:hover {
   background-color: #ddd;
 }
 
 /* Create an active/current "tab button" class */
 .tab button.active {
   background-color: #ccc;
 }


 /* Style the tab content */
 .tabcontent {
   float: left;
   padding: 0px 12px;
   border: 1px solid #ccc;
   width: 70%;
   border-left: none;
   height: 100%;
   display: none;
   overflow: auto;
 }
 .tabcontent button {
   top:5px;
   right:5px;
 }

#money-table {
   border-collapse: collapse;
   font-family: Arial, sans-serif;
}

.table-header th {
   padding: 10px;
   background-image: radial-gradient(ellipse, #7B1FA2, #660099);
   border: 2px solid white;
   color: white;
}

.table-rows td {
   padding: 10px;
   background-color: white;
   border: 2px solid white;
   color: black;
}

.table-rows:nth-child(even) td {
   background-color: #f2f2f2;
}

#text {
   width: 40rem;
   text-align: left;
   font-weight: normal;
}

#card-box {
   padding: 10px;
   width: 70%;
   margin: auto;
   background-color: white;
   border: 1px solid black;
}

footer {
   position: static;
}
.image-grid-container {
   overflow: auto;
}
.image-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   padding: 10px;
} 
.image-grid img {
   max-width: 100%;
   height: auto;
}
.row-houses::after {
   display: flex;
   flex-direction: row;
}
.house {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   float: left;
 }
.house button {
   font-weight: bold;
   font-size: x-large;
}