*{
    box-sizing: border-box;
  }

/* BOARD */
   #board {
      display: grid;
      margin: auto;
      grid-template-columns: 13vh repeat(8, 9vh) 13vh;
      grid-template-rows: 13vh repeat(8, 9vh) 13vh;
      width:fit-content;
      grid-template-areas:
         "c c c c c c c c c d"
         "b o o o o o o o o d"
         "b o o o o o o o o d"
         "b o o o o o o o o d"
         "b o o o o o o o o d"
         "b o o o o o o o o d"
         "b o o o o o o o o d"
         "b o o o o o o o o d"
         "b o o o o o o o o d"
         "b a a a a a a a a a";
      background-color: black;
      border: 0.7vh solid #000;
      font-size: 1.9vh;
      font-family: inherit;
      color: black;
      box-shadow: 0px 0px 20px 4px white;
      overflow: hidden;
   }

   /* orientations for the board and center */
   .orientation0 { transform: rotateZ(0deg); transition: transform 2s ease; }
   .orientation1 { transform: rotateZ(-90deg); transition: transform 2s ease; }
   .orientation1 #center{ transform: rotateZ(90deg); transition: transform 2s ease; }
   .orientation2 { transform: rotateZ(-180deg); transition: transform 2s ease; }
   .orientation2 #center{ transform: rotateZ(180deg); transition: transform 2s ease; }
   .orientation3 { transform: rotateZ(-270deg); transition: transform 2s ease; }
   .orientation3 #center{ transform: rotateZ(270deg); transition: transform 2s ease; }

   #center-bg {
      position:relative;
      grid-area: o;
      background-image: linear-gradient(41deg, blueviolet, violet), 
                        linear-gradient(-59deg, lightblue, palevioletred),
                        radial-gradient(hotpink -29%, rebeccapurple 146%);
      background-blend-mode: color;
      background-position: center center;
      background-size: 339%;
      border: 0.7vh solid black;
   }
   #center {
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 5vh;
   }
   #center .button {
      border: none;
   }
   #center .button:hover {
      box-shadow: 0px 2px 3px #000000ff;
   }

   /* rows */
   .row {
      display: flex;
   }

   /* Flex directions are used to give the tiles correct order */
   #row-0 {
      grid-area: a;
      flex-direction: row-reverse;
   }
   #row-1 {
      grid-area: b;
      flex-direction: column-reverse;
   }
   #row-2 {
      grid-area: c;
      flex-direction: row;
   }
   #row-3 {
      grid-area: d;
      flex-direction: column;
   }

   .tile {
      display: flex;
      flex-direction: column;
      background-image: radial-gradient(circle, white 44%, #C9C9C9 139%);
      height: 100%;
      width: 100%;
   }
   #row-0 .tile, #row-2 .tile {
      border-left: 0.1vh solid black;
      border-right: 0.1vh solid black;
   }
   #row-1 .tile, #row-3 .tile {
      border-top: 0.1vh solid black;
      border-bottom: 0.1vh solid black;
   }
   /*Turn tiles*/
   #row-1 .tile { writing-mode: vertical-rl; }
   #row-2 .tile { transform: rotate(180deg); }
   #row-3 .tile { writing-mode: vertical-rl;
                  transform: rotate(180deg); }
   .tile-color {
      flex: 3;
   }
   /*give each colour a black border along one side*/
   #row-0 .tile .tile-color{
      height: 10%;
      border-bottom: 0.1vh solid black;
   }
   #row-1 .tile .tile-color{
      width: 10%;
      border-left: 0.1vh solid black;
   }
   #row-2 .tile .tile-color{
      height: 10%;
      border-bottom: 0.1vh solid black;
   }
   #row-3 .tile .tile-color{
      width: 10%;
      border-left: 0.1vh solid black;
   }
   .tile-name {
      flex: 6;
   }
   /*move text down a bit*/
   #row-0 .tile .tile-name{
      padding-top : 0.4em;
      padding-bottom : 0.4em;
   }
   #row-1 .tile .tile-name{
      padding-right : 0.4em;
      padding-left : 0.4em;
   }
   #row-2 .tile .tile-name{
      padding-top : 0.4em;
      padding-bottom : 0.4em;
   }
   #row-3 .tile .tile-name{
      padding-right : 0.4em;
      padding-left : 0.4em;
   }
   .tile-price {
      font-size: 0.8em;
      font-weight: bold;
   }
   /*To make the corner tiles bigger and square*/
   .row > .tile:nth-child(1) {
      flex: 0 0 13vh;
   }
   
   /*colour each group of properties*/
   .col1 { background-color: saddlebrown; box-shadow: inset 0px -6px 12px 2px #622900; }
   .col2 { background-color: lightskyblue; box-shadow: inset 0px -6px 12px 2px #4d90b9; }
   .col3 { background-color: hotpink; box-shadow: inset 6px 0px 12px 2px #d3428a; }
   .col4 { background-color: orange; box-shadow: inset 6px 0px 12px 2px #bd7b02; }
   .col5 { background-color: red; box-shadow: inset 0px -6px 12px 2px #c70303; }
   .col6 { background-color: yellow; box-shadow: inset 0px -6px 12px 2px #c2c703; }
   .col7 { background-color: #009f00; box-shadow: inset 6px 0px 12px 2px #008100; }
   .col8 { background-color: #0334bf; box-shadow: inset 6px 0px 12px 2px #0202c3; }

   /* images */
   .bus-stop-image { background-image: url('/static/images/bus.webp'); }
   .wine-bottle-image { background-image: url('/static/images/wine.webp') }

   .h-image {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      margin: 0.75em 0em;
   }
   .v-image {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      margin: 0em 0.75em;
      transform: rotate(90deg);
   }
  
   /*Turn corners*/
   .row > .tile:first-child{
         text-align: center;
   }
   #row-0 .tile:first-child .tile-name{
      transform: rotate(-45deg) translateY(35%);
   }
   #row-1 .tile:first-child {
      display: block;
   }
   #top-jail {
      width: 100%;
      height: 70%;
      float: left;
   }
   #jail {
      width: 70%;
      height: 100%;
      border-left: 0.3vh solid black;
      border-bottom: 0.3vh solid black;
   }
   #jail .tile-name {
      transform: rotateZ(-45deg) translate(10px, -20px);
   }
   #top-jail #just .player {
      left: auto;
      transform: rotateZ(90deg) translateY(-4.5vh);
   }
   #top-jail #jail .player {
      left: auto;
      transform: rotateZ(90deg) translateY(0.5vh);
   }
   #visiting {
      width: 100%;
      height: 30%;
      writing-mode: horizontal-tb;
      float: right;
      display: table;
   }
   #visiting .tile-name {
      display: table-cell;
      vertical-align: middle;
   }
   #row-2 .tile:first-child .tile-name{
         transform: rotate(-45deg) translateY(35%);
   }
   #row-3 .tile:first-child .tile-name{
         transform: rotate(-45deg) translatex(-35%);
   }

   .grid > .player{
      color: black;
      grid-row: 2 / 10;
      grid-column: 1 / 10;
   }

   #row-1 .player, #row-3 .player {
      position: absolute;
      display: flex;
      bottom: auto;
      justify-content: space-between;
      align-items: center;
      left: 0px;
      transform: rotateZ(90deg);
      /* z-index: 2;
      left: 128px; */
   }

   #row-0 .player, #row-2 .player {
      position: absolute;
      display: flex;
      bottom: 0px; 
      justify-content: space-between;
      align-items: center;
      /* z-index: 2; 
      bottom: 128px; */
   }
   .player img {
      width: 4.5vh;
      height : 4.5vh;
      flex: 1;
   }

   /*options pop up box*/
   .options-popup {
      display: none;
      position: absolute;
      left:5%;
      top: 5%;
      height: 90%;
      width: 90%;
      border: 3px solid black;
      border-radius:10px;
      z-index: 9;
      background-color: #32145cc9;
   }

 /* Style the tab */
.tab {
   /* float: left; */
   background-color: #5e3597de;
   height: 10%;
   top:0%;
   border:None;
   border-radius:10px;
   text-align:center;
 }
 
 /* Style the buttons that are used to open the tab content */
 .tab button {
   display: inline-block;
   background-color: inherit;
   color: white;
   width: 32%;
   height:100%;
   border: none;
   border-radius:10px;
   outline: none;
   text-align: center;
   cursor: pointer;
 }
 
 /* Change background color of buttons on hover */
 .tab button:hover {
   background-color: #855abe;
 }
 
 /* Create an active/current "tab button" class */
 .tab button.active {
   background-color: #855abe;
 }

 #closes-tab {
   background-color: #a5001b;
 }
 #closes-tab:hover {
   background-color: red;
 }


 /* Style the tab content */
 .tabcontent {
   padding: 0px 12px;
   width: 80%;
   margin:auto;
   border-left: none;
   border-right: none;
   max-height:90%;
   display: none;
   overflow-y: auto;
 }
 .tabcontent button {
   top:5px;
   right:5px;
 }
 .tabcontent h4 {
   background-color:#00000084;
   width:100%;
   border-radius:5px;
 }

.tabcontent::-webkit-scrollbar {
   width: 1ch;
}
.tabcontent::-webkit-scrollbar-track {
   background-color: #36363670;
   border-radius: 8px;
   box-shadow: inset -4px 0 4px #1111116d;
}
.tabcontent::-webkit-scrollbar-thumb {
   background-color: #cdcccc;
   border-radius: 8px;
   border: 1px solid #1e1e1e;
   box-shadow: inset -4px 0 4px #ffffff59;
}
.tabcontent::-webkit-scrollbar-thumb:hover {
   background-color: #e7e7e7;
}

#money-table {
   border-collapse: collapse;
   font-family: inherit;
   width: 95%;
   margin: 10px auto;
}

.table-header th {
   padding: 10px;
   background-image: radial-gradient(ellipse, #7B1FA2, #660099);
   border: 2px solid white;
   color: white;
}

.row-houses td button {
   padding-left: 2px;
   text-align: center;
   padding: 3px 17px;
   margin: 5px 20px;
   font-family: inherit;
   color: white;
   border: 2px solid white;
   border-radius: 10px;
 }

.row-houses td .plus{
   background-color: green;
}

.row-houses td .minus{
   background-color: red;
}


 

.row-houses{
   margin: auto;
   
}

.table-rows td {
   padding: 10px;
   background-color: white;
   border: 0.1vh solid white;
   color: black;
}

.table-rows:nth-child(even) td {
   background-color: #f2f2f2;
}

#text {
   width: 100%;
   height: 100%;
   padding: 8px;
   margin: 5px 0px 5px 5px;
   border-radius: 3px;
   text-align: left;
   font-weight: normal;
   font-size: inherit;
}

#messages {
   background-color: transparent;
   border: none;
   color: white;
   text-align: left;
   padding : 5px;
   width: 100%;
   height: 60vh;
   font-size: 1.2em;
   direction: ltr;
   overflow-y: auto;
}
#messages::-webkit-scrollbar {
   width: 1ch;
}
#messages::-webkit-scrollbar-track {
   background-color: #36363670;
   border-radius: 8px;
   box-shadow: inset -4px 0 4px #1111116d;
}
#messages::-webkit-scrollbar-thumb {
   background-color: #cdcccc;
   border-radius: 8px;
   border: 1px solid #1e1e1e;
   box-shadow: inset -4px 0 4px #ffffff59;
}
#messages::-webkit-scrollbar-thumb:hover {
   background-color: #e7e7e7;
}

#text-box {
   padding: 10px;
   width: 80%;
   margin: auto;
   position: absolute;
   bottom: 21%;
   max-height:50%;
   height:50%;

   border: white solid 2px;
   border-radius: 10px;
   left: 10%;
   background-color: #000000a8;
   color:white;
   overflow-y: auto;
}
#text-box::-webkit-scrollbar {
   width: 1ch;
}
#text-box::-webkit-scrollbar-track {
   background-color: #36363670;
   border-radius: 8px;
   box-shadow: inset -4px 0 4px #1111116d;
}
#text-box::-webkit-scrollbar-thumb {
   background-color: #cdcccc;
   border-radius: 8px;
   border: 1px solid #1e1e1e;
   box-shadow: inset -4px 0 4px #ffffff59;
}
#text-box::-webkit-scrollbar-thumb:hover {
   background-color: #e7e7e7;
}

#button-div {
   margin: auto;
   position: absolute;
   top: 3%;
   left:0;
   right:0;
}


.image-grid-container {
   overflow: auto;
}
.image-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   padding: 10px;
} 
.image-grid img {
   max-width: 100%;
   height: auto;
}
.row-houses::after {
   display: flex;
   flex-direction: row;
}
.house {
   padding: 20px;
 }
.house button {
   font-weight: bold;
   font-size: x-large;
   background-color: #ccc;

}
#screen {
   display: flex;
}
#left-div, #middle-div, #right-div {
   flex: 1;
}
#middle-div {
   padding-top: 2px;
   position: relative;
}
#chat {
   display: flex;
   position: relative;
   /* z-index: 1; */
   align-items: center;
   font-size: 1.2em;
}
#send {
   font-size: inherit;
   margin: 4px;
   border-radius: 3px;
}
.game-info-box {
   background-image: radial-gradient(ellipse, #ffffff2f, #00000050);
   box-shadow: 0 0 20px 4px white;
   border-radius: 5px;
   margin: 8px 8px 0px 8px;
   color: white;
}
h2 {
   margin: 0px;
   padding: 10px;
}

/* bankrupt button */
#bankrupt {
   margin: 20px 0px;
}

.flashing-image {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: auto;
   height: auto;
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   animation: flashFade 3s linear forwards;
}
 
@keyframes flashFade {
   0% {
       opacity: 0;
   }
   25% {
       opacity: 1;
   }
   75% {
      opacity: 1;
  }
   100% {
       opacity: 0;
   }
}
#dice-display{
   position: absolute;
   bottom: 3%;
}
#dice-display img{
   max-width:15%;
}

/* footer */
footer {
   position: static;
}

.highlight {
   box-shadow: inset 0px 0px 20px 3px green;
}