.card-subhead {
    color: grey;
}

#main-content {
    position: absolute;
    padding: 10px;
    border: none;
    border-radius: 10px;
    top: 10%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0%);
    background-color: #000000a8;
    font-size: 30px;
    color: white;
}

#menu-button {
    position: absolute;
    top: 0%;
    left: 0%;
}
.card-head {
    color: #850cc2;
}

.card-subhead {
    color: white;
}

p {
    color: lightgray;
}