#head {
    display: block;
    text-align: center;
}
#game-code {
    font-family: inherit;
    margin: 0.1em;
    font-size: 6em;
}

#mid-section {
    display: flex;
    position: relative;
    transform: translateX(25%);
}
#table-div {
    padding: 10px;
    font-size: 30px;
}
#players-table {
    border-collapse: collapse;
    font-family: inherit;
}
.table-header th {
    padding: 10px;
}
.table-header th:not(:last-child) {
    background-image: radial-gradient(ellipse, #7B1FA2, #660099);
    border: 2px solid white;
    color: white;
}
.table-rows td {
    padding: 10px;
}
.table-rows td:not(:last-child) {
    background-color: white;
    border: 2px solid white;
    color: black;
}
.table-rows:not(:last-child):nth-child(even) td {
    background-color: #f2f2f2;
}
#button-div {
    padding: 10px;
}


table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }

.flashing-text {
    font-family: inherit;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    animation: flashFade 3s linear forwards;
}
  
@keyframes flashFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
  