#code {
    font-family: 'Fredoka One', cursive;
    margin: 0.5rem;
    font-size: 75px;
}

#players-table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.table-header th:not(:last-child) {
    padding: 10px;
    background-image: radial-gradient(ellipse, #7B1FA2, #660099);
    border: 2px solid white;
    color: white;
}

.table-rows td:not(:last-child) {
    padding: 10px;
    background-color: white;
    border: 2px solid white;
    color: black;
}

.table-rows:not(:last-child):nth-child(even) td {
    background-color: #f2f2f2;
}