#frame {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    width: 30rem;
    height: 10rem;
}

#join-form {
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-image: radial-gradient(circle, #c9c9e6, #e6e6fa);
    box-shadow: 0px 4px 3px 1px rgba(0 0 0 / 67%);
}

#join-form .button {
    border: none;
}
 
#join-form .button:hover {
    box-shadow: 0px 2px 3px #000000ff;
}

#create-form {
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}

#code-label {
    display: inline-block;
    width: 6rem;
    font-size: 27px;
    font-family: inherit;
    font-weight: bold;
    text-align: right;
    margin-right: 1rem;
    color: black;
}
.flashing-text {
    font-family: 'Arial', sans-serif;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    animation: flashFade 3s linear forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  

.button {
    animation: fadeIn 1s ease-in-out forwards;
  }
  