#frame {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    width: 30rem;
    height: 10rem;
}

#join-form {
    display: inline-block;
    padding: 10px;
    border: 0.1px solid white;
    border-radius: 2px;
    background-image: radial-gradient(circle, #c9c9e6, #e6e6fa);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
}

#create-form {
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}

#code-label {
    display: inline-block;
    width: 6rem;
    font-size: 27px;
    font-family: Arial;
    font-weight: bold;
    text-align: right;
    margin-right: 1rem;
    color: black;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  

.button {
    animation: fadeIn 1s ease-in-out forwards;
  }
  