<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="/static/js/script.js"></script>
    <script>
    var socket;
      $(document).ready(function(){
          socket = io.connect('http://' + document.domain + ':' + location.port + '/menu');
          //add
      });
    </script>
</head>
<body>
    <H1>Help Page</H1>
    <button onclick="window.location.href = 'menu';">Menu Page</button>
    <div>        
        <a href="#SaWTM">Spaces and What They Mean</a>
        <br>
        <a href="#rules">Rules</a>
        <h2 class="card-head" id="SaWTM">Spaces and What They Mean</h2>
        <h3 style="color: grey;">GO</h3>
        <p>Each time a player lands on or passes over GO the bank pays them [AMOUNT] of [CURRENCY].</p>
        <h3 style="color: grey;">UNOWNED PROPERTY</h3>
        <p>When a player lands on an unowned property they have the option to buy the property from the bank at the shown price. <br> If you choose to buy the property you will receive the card for it. However if you choose not to buy the property, the bank sells it at an auction for all players to the highest bidder and they receive the card.</p>
        <h3 style="color: grey;">OWNED PROPERTY</h3>
        <p>When a player lands on a property that is owned by them they do nothing. If a player lands on a property that is <i>not</i> owned by them then they must pay rent to the owner in accordance with the price on the card. <br> Owning multiple properties of the same colour, or having houses/hotels on a space will increase the rent price. </p>
        <h3 style="color: grey;">CHANCE AND COMMUNITY CHEST</h3>
        <p>When a player lands on one of these spaces, a card will be displayed and the player must follow the instructions on the card. <br> The "Get out of oak house free" card is held by the player until used and then returned to the deck. This card can also be sold to another player.</be></p>
        <h3 style="color: grey;">INCOME TAX</h3>
        <p>When a player lands here they must pay 10% of their total worth to the bank. The total worth is all the cash on hand, prices of properties, and cost of all buildings you own.</p>
        <h3 style="color: grey;">JAIL</h3>
        <p>A player lands in jail when either 1. their token lands of the space "Go to Jail" or 2. they draw a card marked "Go to Jail". <br> When the player goes to jail they do not collect anything for going past GO. <br> You can get out of jail by 1. using the "Get out of Jail Free" card, 2. Purchasing the "Get out of Jail Free" card from another player, 3. pay a fine of 50 before you roll the dice on the next turn. <br> Even when a player is in jail they can still collect rent and buy/sell houses in exchanges.</p>
        <h3 style="color: grey;">FREE PARKING</h3>
        <p>The player landing on this space does not have to do anything, it is purely a free place to rest.</p>
        <h3 style="color: grey;">HOUSES</h3>
        <p>When a player owns all the properties in a color-group they may buy houses from the bank and set them up on those properties. The number of houses in a colour group increases the rent owed when someone lands on a property in that group. <br> If a player buys one house, they can put it on any of those properties. The next house they buy must be set up on a different property in any colour set they own. <br> The price of the houses are printed on the cards for the properties. </p>
        <h3 style="color: grey;">HOTELS</h3>
        <p>When a player has four houses on each property of a complete colour group, they can buy a hotel from the bank and set it up on any of the houses in that group. They then return the four houses from that property and pay the price for the hotel as shown on the property card. Only one hotel per property.</p>
        <h3 style="color: grey;"></h3>
        <h2 class="card-head" id="rules">Rules</h2>
        <h3 class="card-subhead" style="color: grey;">Before the game</h3>
        <p>The aim of the game is to become the richest player, this can be done via buying, renting, and selling properties.</p>
        <p>Each player starts with [AMOUNT] of [CURRENCY].</p>
        <h3 class="card-subhead" style="color: grey;">The Game</h3>
        <p>The chosen player throws the dice.</p>
        <p>The space that you land on determines what you can do this round. (You may be: able to buy properties / made to pay rent/taxes / told to draw a card / forced to go to jail etc.)</p>
    </div>
</body>
</html>