<!doctype html>
<html lang="en">

<head>
  <title>Monops</title>
</head>

<body class="text-center">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="/static/js/script.js"></script>
    <script>
    var socket;
      //runs on refresh or load of lobby
      $(document).ready(function(){
          socket = io.connect('http://' + document.domain + ':' + location.port + '/lobby');
          socket.on('game started', function(data) {
              window.location.href = "http://" + document.domain + ":" + location.port + "/gameroom"
          });


          //gathers the player list
          //adds the players to a table with a remove button 
          socket.on('player list', function(data) {
          table = document.getElementById("playersTable");

            table.innerHTML = "";
            for(var i=0; i<data.players.length; i++){
              var row =  `<tr>
                            <td>player ${i+1}</td>
                            <td>${data.players[i]}</td>
                            <td><button type="button" onclick="remove_player('${data.players[i]}')">remove</button></td>
                          </tr>`
              table.innerHTML += row;
            }
          });

          //when the send message box is pressed
          $('#leave game').click(function(e) {
              socket.emit('leave lobby');
          });

          socket.emit('check pregame status');
      });

      function remove_player(name_of_player_to_remove){
        ;
        // code to remove player from the lobby
      }

      function start_game(){

      }
      
      //if a player leaves the room (WIP)
      function leave_room() {
          socket.emit('left', {})
          socket.disconnect();
          window.location.href = "{{ url_for('index') }}";
          };

      function test() {
        ;
        //code to remove yourself from the loby
        //$('#players').val('wertyuiofghj'); //not sure what this is
      }

      //calls function every 2.5seconds
      setInterval(function() {
          socket.emit('check pregame status');
      }, 2500); 




    </script>

    <p id="aaa">welcome to the lobby</p>
    <p>code: {{room_code}}</p>
    <!--<p>HOST:</p>-->
    <table>
      <thead>
        <tr>
          <th>number</th>
          <th>name</th>
          <th>button</th>
        </tr>
      </thead>
      <tbody id="playersTable"></tbody>
    </table>


    <form action="/lobby" method="POST">  
      <input type="submit" name="leaveButton" value="leave room"></input>
      <input type="submit" name="startButton" value="start game"></input>
    </form>

</body>

</html>
