{% extends "base.html" %}

{% block head %}
<title>Menu</title>
<meta name="description"
    content="Some description of the lobby page.">
<script type="text/javascript" src="/static/js/lobby.js"></script>
<link rel="stylesheet" href="/static/css/lobby.css">
{% endblock %}

{% block body %}
<h2>Welcome to the lobby</h2>
<h1>{{game_code}}</h1>

<table class="players-table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody class="players-table-body"></tbody>
</table>

<form action="/lobby" method="POST">  
  <input class="button" type="submit" name="leaveButton" value="Leave Room"></input>
  <input class="button" type="submit" name="startButton" value="Start Game"></input>
</form>
{% endblock %}