{% extends "base.html" %}

{% block head %}
<title>Login</title>
<meta name="description" content="Some description of the login/sign up page.">
<script type="text/javascript" src="/static/js/login.js"></script>
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %} 

{% block body %}
<p>{{login_message}}</p>
<div>
    <form method="POST">  
        <h1>Login</h1>
        <input class="text-input" type="text" id="username" name="loginname" placeholder="Username" required autofocus><br>
        <button class="button" name="button" value="login">log in</button>
    </form>
    <br>
    <form method="POST">
        <h1>Sign up</h1>
        <input class="text-input" type="text" id="username" name="signupname" placeholder="Username" required autofocus><br>
        <button class="button" name="button" value="signup">sign up</button>
    </form>
</div>
{% endblock %}