<!doctype html>
<html lang="en">

<head>
  <title>Monops</title>
</head>

<body class="text-center">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  </script>

  <form method="POST">  
    <h1>Login</h1><br><br>
    <input type="text" id="username" name="loginname" placeholder="Username" required autofocus><br>
    <button name="button" value="Login">log in</button>
  </form>


  <form method="POST">
    <h1>Sign up</h1><br><br>
    <input type="text" id="username" name="signupname" placeholder="Username" required autofocus><br>
    <button name="button" value="signup">sign up</button>
  </form>

</body>

</html>
<!doctype html>
<html lang="en">

<head>
  <title>Monops</title>
</head>

<body class="text-center">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  </script>

  <form method="POST">  
    <h1>Login</h1><br><br>
    <input type="text" id="username" name="loginname" placeholder="Username" required autofocus><br>
    <button name="button" value="login">log in</button>
  </form>


  <form method="POST">
    <h1>Sign up</h1><br><br>
    <input type="text" id="username" name="signupname" placeholder="Username" required autofocus><br>
    <button name="button" value="signup">sign up</button>
  </form>

</body>
