{% extends "base.html" %}

{% block head %}
<title>Game</title>
<meta name="description"
    content="Some description of the game room page.">
<link rel="stylesheet" href="/static/css/game_room.css">
<script type="text/javascript" src="/static/js/game_room.js"></script>
{% endblock %}

{% block body %}
<button class="button" id="menu" onclick=return_to_menu()>Menu</button>

<h2>Game Code : {{ session['game_code'] }}</h2><br>

<table id="money-table">
   <thead>
     <tr class="table-header">
       <th>Name</th>
       <th>Money</th>
     </tr>
   </thead>
   <tbody id="table-body"></tbody>
</table>

<h1 id="test-box">bish</h1>

<div id="board">
    <div id="center">emails</div>
    <!--Row 0-->
    <div class="row" id="row-0">
        <div class="tile">
            <div class="tile-name">Tile 0</div>
            <div class="player" id="tile0"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 1</div>
            <div class="tile-price">Price 1</div>
            <div class="player" id="tile1"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 2</div>
            <div class="tile-price">Price 2</div>
            <div class="player" id="tile2"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 3</div>
            <div class="tile-price">Price 3</div>
            <div class="player" id="tile3"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 4</div>
            <div class="tile-price">Price 4</div>
            <div class="player" id="tile4"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 5</div>
            <div class="tile-price">Price 5</div>
            <div class="player" id="tile5"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 6</div>
            <div class="tile-price">Price 6</div>
            <div class="player" id="tile6"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 7</div>
            <div class="tile-price">Price 7</div>
            <div class="player" id="tile7"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 8</div>
            <div class="tile-price">Price 8</div>
            <div class="player" id="tile8"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 9</div>
            <div class="tile-price">Price 9</div>
            <div class="player" id="tile9"></div>
        </div>
    </div>

    <!--Row 1-->
    <div class="row" id="row-1">
        <div class="tile">
            <div class="tile-name">Tile 10</div>
            <div class="player" id="tile10"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 11</div>
            <div class="tile-price">Price 11</div>
            <div class="player" id="tile11"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 12</div>
            <div class="tile-price">Price 12</div>
            <div class="player" id="tile12"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 13</div>
            <div class="tile-price">Price 13</div>
            <div class="player" id="tile13"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 14</div>
            <div class="tile-price">Price 14</div>
            <div class="player" id="tile14"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 15</div>
            <div class="tile-price">Price 15</div>
            <div class="player" id="tile15"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 16</div>
            <div class="tile-price">Price 16</div>
            <div class="player" id="tile16"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 17</div>
            <div class="tile-price">Price 17</div>
            <div class="player" id="tile17"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 18</div>
            <div class="tile-price">Price 18</div>
            <div class="player" id="tile18"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 19</div>
            <div class="tile-price">Price 19</div>
            <div class="player" id="tile19"></div>
        </div>
    </div>

    <!--Row 2-->
    <div class="row" id="row-2">
        <div class="tile">
            <div class="tile-name">Tile 20</div>
            <div class="player" id="tile20"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 21</div>
            <div class="tile-price">Price 21</div>
            <div class="player" id="tile21"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 22</div>
            <div class="tile-price">Price 22</div>
            <div class="player" id="tile22"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 23</div>
            <div class="tile-price">Price 23</div>
            <div class="player" id="tile23"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 24</div>
            <div class="tile-price">Price 24</div>
            <div class="player" id="tile24"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 25</div>
            <div class="tile-price">Price 25</div>
            <div class="player" id="tile25"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 26</div>
            <div class="tile-price">Price 26</div>
            <div class="player" id="tile26"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 27</div>
            <div class="tile-price">Price 27</div>
            <div class="player" id="tile27"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 28</div>
            <div class="tile-price">Price 28</div>
            <div class="player" id="tile28"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 29</div>
            <div class="tile-price">Price 29</div>
            <div class="player" id="tile29"></div>
        </div>
    </div>

    <!--Row 3-->
    <div class="row" id="row-3">
        <div class="tile">
            <div class="tile-name">Tile 30</div>
            <div class="player" id="tile30"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 31</div>
            <div class="tile-price">Price 31</div>
            <div class="player" id="tile31"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 32</div>
            <div class="tile-price">Price 32</div>
            <div class="player" id="tile32"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 33</div>
            <div class="tile-price">Price 33</div>
            <div class="player" id="tile33"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 34</div>
            <div class="tile-price">Price 34</div>
            <div class="player" id="tile34"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 35</div>
            <div class="tile-price">Price 35</div>
            <div class="player" id="tile35"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 36</div>
            <div class="tile-price">Price 36</div>
            <div class="player" id="tile36"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 37</div>
            <div class="tile-price">Price 37</div>
            <div class="player" id="tile37"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 38</div>
            <div class="tile-price">Price 38</div>
            <div class="player" id="tile38"></div>
        </div>
        <div class="tile">
            <div class="tile-color"></div>
            <div class="tile-name">Tile 39</div>
            <div class="tile-price">Price 39</div>
            <div class="player" id="tile39"></div>
        </div>
    </div>

</div><!--END-->

<button onclick=open_options()>open options</button>
<div class="options-popup" id="options">
   <div class="tab">
      <button class="tablinks" onmouseover="change_tab(event, 'cards')">view cards</button>
      <button class="tablinks" onmouseover="change_tab(event, 'houses')">buy sell houses</button>
      <button class="tablinks" onmouseover="change_tab(event, 'mortgage')">mortagages</button>
   </div>
   <div class="tabcontent" id="cards" style="display:block;">
      <p>your cards</p>
      <button onclick=close_options()>close options</button>
   </div>
   <div class="tabcontent" id="houses">
      <p>houses</p>
      <button onclick=close_options()>close options</button>
   </div>
   <div class="tabcontent" id="mortgage">
      <p>mortgage</p>
      <button onclick=close_options()>close options</button>
   </div>
   
</div>
   <p id="dice">nobody has rolled the dice yet</p>
<div name="dice-button" id="dice-button">
  <button class="button" type="button" id="roll-dice">roll dice</button><br>
</div>

<div name="buy-property-button" id="buy-property-button">
   <button class="button" type="button" id="buy-property">buy</button><br>
</div>

 <div name="dont-buy-property-button" id="dont-buy-property-button">
   <button class="button" type="button" id="dont-buy-property">dont buy</button><br>
 </div>
 
<textarea id="messages" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea>
<br/><br/>
   <form>
   <input class="text-input" type="text" id="text" size="60" placeholder="Enter your message here" />
   <button class="button" name="button" value="send" id="send">Send</button>
</form>
<br/><br/>
<button class="button" type="button" onclick=leave_room()>leave der game</button>
{% endblock %}