{% extends "base.html" %}

{% block head %}
<title>Game</title>
<meta name="description"
    content="Some description of the game room page.">
<link rel="stylesheet" href="/static/css/game_room.css">
<script type="text/javascript" src="/static/js/game_room.js"></script>
{% endblock %}

{% block body %}
<h2 >welcome to der game</h2>
<h2>Game name : {{session['game_code']}}</h2><br>
<h1 id="test-box">bish</h1>
<div id="board">
  <div id="center">emails</div>
  <!--<div class="email">emails</div>-->
  <!--Row 1-->
  <div class="row" id="row-0">
     <div class="tile">
        <div class="tile-name">Go</div>
        <div class="player" id="tile0"> </div>
     </div>
     <div class="tile">
        <div class="tile-color"></div>
        <div class="tile-name">Tile 1</div>
        <div class="tile-price">Price 1</div>
        <div class="player" id="tile1"></div>
     </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 1</div>
      <div class="tile-price">Price 1</div>
      <div class="player" id="tile2"> </div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 1</div>
      <div class="tile-price">Price 1</div>
      <div class="player" id="tile3"> </div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 1</div>
      <div class="tile-price">Price 1</div>
      <div class="player" id="tile4"> </div>
   </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Bus stop</div>
      <div class="tile-price">200</div>
      <div class="player" id="tile5"> </div>
     </div>
     <div class="tile">
        <div class="tile-color"></div>
        <div class="tile-name">Tile 2</div>
        <div class="tile-price">Price 2</div>
        <div class="player" id="tile6"> </div>
     </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 1</div>
      <div class="tile-price">Price 1</div>
      <div class="player" id="tile7"> </div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 1</div>
      <div class="tile-price">Price 1</div>
      <div class="player" id="tile8"> </div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 1</div>
      <div class="tile-price">Price 1</div>
      <div class="player" id="tile9"> </div>
   </div>
  </div>
  
  <!--Row 2-->
  <div class="row" id="row-1">
     <div class="tile">
        <div class="tile-name">Just visiting</div>
        <div class="player" id="tile10"></div>
     </div>
     <div class="tile">
        <div class="tile-color"></div>
        <div class="tile-name">Tile 3</div>
        <div class="tile-price">Price 3</div>
        <div class="player" id="tile11"></div>
     </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 3</div>
      <div class="tile-price">Price 3</div>
      <div class="player" id="tile12"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 3</div>
      <div class="tile-price">Price 3</div>
      <div class="player" id="tile13"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 3</div>
      <div class="tile-price">Price 3</div>
      <div class="player" id="tile14"></div>
   </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Bus stop</div>
      <div class="tile-price">200</div>
      <div class="player" id="tile15"></div>
     </div>
     <div class="tile">
        <div class="tile-color"></div>
        <div class="tile-name">Tile 4</div>
        <div class="tile-price">Price 4</div>
        <div class="player" id="tile16"></div>
     </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 4</div>
      <div class="tile-price">Price 4</div>
      <div class="player" id="tile17"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 4</div>
      <div class="tile-price">Price 4</div>
      <div class="player" id="tile18"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 4</div>
      <div class="tile-price">Price 4</div>
      <div class="player" id="tile19"></div>
   </div>
  </div>
  
  <!--Row 3-->
  <div class="row" id="row-2">
     <div class="tile">
        <div class="tile-name">Free Parking</div>
        <div class="player" id="tile20"></div>
     </div>
     <div class="tile">
        <div class="tile-color"></div>
        <div class="tile-name">Tile 4</div>
        <div class="tile-price">Price 4</div>
        <div class="player" id="tile21"></div>
     </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 4</div>
      <div class="tile-price">Price 4</div>
      <div class="player" id="tile22"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 4</div>
      <div class="tile-price">Price 4</div>
      <div class="player" id="tile23"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 4</div>
      <div class="tile-price">Price 4</div>
      <div class="player" id="tile24"></div>
   </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Bus stop</div>
      <div class="tile-price">200</div>
      <div class="player" id="tile25"></div>
     </div>
     <div class="tile">
        <div class="tile-color"></div>
        <div class="tile-name">Tile 5</div>
        <div class="tile-price">Price 5</div>
        <div class="player" id="tile26"></div>
     </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 4</div>
      <div class="tile-price">Price 4</div>
      <div class="player" id="tile27"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 4</div>
      <div class="tile-price">Price 4</div>
      <div class="player" id="tile28"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 4</div>
      <div class="tile-price">Price 4</div>
      <div class="player" id="tile29"></div>
   </div>
  </div>
  
  <!--Row 4-->
  <div class="row" id="row-3">
     <div class="tile">
        <div class="tile-name">Jail</div>
        <div class="player" id="tile30"></div>
     </div>
     <div class="tile">
        <div class="tile-color"></div>
        <div class="tile-name">Tile 6</div>
        <div class="tile-price">Price 6</div>
        <div class="player" id="tile31"></div>
     </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 6</div>
      <div class="tile-price">Price 6</div>
      <div class="player" id="tile32"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 6</div>
      <div class="tile-price">Price 6</div>
      <div class="player" id="tile33"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 6</div>
      <div class="tile-price">Price 6</div>
      <div class="player" id="tile34"></div>
   </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Bus stop</div>
      <div class="tile-price">200</div>
      <div class="player" id="tile35"></div>
     </div>
     <div class="tile">
        <div class="tile-color"></div>
        <div class="tile-name">Tile 7</div>
        <div class="tile-price">Price 7</div>
        <div class="player" id="tile36"></div>
     </div>
     <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 6</div>
      <div class="tile-price">Price 6</div>
      <div class="player" id="tile37"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 6</div>
      <div class="tile-price">Price 6</div>
      <div class="player" id="tile38"></div>
   </div>
   <div class="tile">
      <div class="tile-color"></div>
      <div class="tile-name">Tile 6</div>
      <div class="tile-price">Price 6</div>
      <div class="player" id="tile39"></div>
   </div>
  </div>
</div>

<button onclick=open_options()>open options</button>
<div class="options-popup" id="options">
   <div class="tab">
      <button class="tablinks" onmouseover="change_tab(event, 'cards')">view cards</button>
      <button class="tablinks" onmouseover="change_tab(event, 'houses')">buy sell houses</button>
      <button class="tablinks" onmouseover="change_tab(event, 'mortgage')">mortagages</button>
   </div>
   <div class="tabcontent" id="cards" style="display:block;">
      <p>your cards</p>
      <button onclick=close_options()>close options</button>
   </div>
   <div class="tabcontent" id="houses">
      <p>houses</p>
      <button onclick=close_options()>close options</button>
   </div>
   <div class="tabcontent" id="mortgage">
      <p>mortgage</p>
      <button onclick=close_options()>close options</button>
   </div>
   
</div>
<p id="dice">nobody has rolled the dice yet</p>
<div name="dice-button" id="dice-button">
  <button class="button" type="button" id="roll-dice">roll dice</button><br>
</div>
<div name="buy-property-button" id="dice-button">
   <button class="button" type="button" id="buy-property">buy</button><br>
 </div>
<textarea id="messages" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br/><br/>
<input class="text-input" type="text" id="text" size="60" placeholder="Enter your message here" />
<button class="button" type="button" id="send">SEND</button><br/><br/>
<button class="button" type="button" onclick=leave_room()>leave der game</button>
{% endblock %}