{% extends "base.html" %}

{% block head %}
<title>Help</title>
<meta name="description"
    content="Some description of the help page.">
<link rel="stylesheet" href="/static/css/help.css">
{% endblock %}

{% block body %}
<div id="menu-button">
    <button class="button" onclick="window.location.href = 'menu';">Menu Page</button>
</div>
<div id="main-content">
    <h1>Help Page</h1>     
    <button class="button" style="font-size: 70%;" onclick="window.location.href = '#SaWTM';">Spaces and What They Mean</button>   
    <button class="button" style="font-size: 70%;" onclick="window.location.href = '#prUp';">Property Upgrades</button>
    <button class="button" style="font-size: 70%;" onclick="window.location.href = '#rules';">Rules</button>

    <hr>
    <h2 class="card-head" id="SaWTM">SPACES AND WHAT THEY MEAN</h2>
    
    <h3 class="card-subhead">GO</h3>
    <p>Each time a player lands on or passes over GO the bank pays them §200.</p>
    
    <h3 class="card-subhead">UNOWNED PROPERTY</h3>
    <p>When a player lands on an unowned property they have the option to buy the property from the bank at the shown price.</p>

    <h3 class="card-subhead">OWNED PROPERTY</h3>
    <p>When a player lands on a property that is owned by them they do nothing. If a player lands on a property that is <i>not</i> owned by them then they must pay rent to the owner in accordance with the price on the card. <br> Owning multiple properties of the same colour, or having houses/hotels on a space will increase the rent price. </p>
    
    <h3 class="card-subhead">EMAIL AND STUDENT UNION</h3>
    <p>When a player lands on one of these spaces, a card will be displayed describing a scenario which can be good or bad for the player.</be></p>
    
    <h3 class="card-subhead">OAK HOUSE</h3>
    <p>A player lands in Oak House when they land of the space "Go to Jail"<br> When the player goes to jail they do not collect anything for going past GO. <br> You can get out of jail by rolling a double or waiting three turns and paying §50.</p>
    
    <h3 class="card-subhead">FREE PARKING</h3>
    <p>The player landing on this space does not have to do anything, it is purely a free place to rest.</p>
    
    <hr>
    <h2 class="card-head" id="prUp">PROPERTY UPGRADES</h2>

    <h3 class="card-subhead">HOUSES</h3>
    <p>When a player owns all the properties in a color-group they may buy houses from the bank and set them up on those properties. The number of houses in a colour group increases the rent owed when someone lands on a property in that group.<br> The price of the houses are printed on the cards for the properties. </p>
    
    <h3 class="card-subhead">MORTGAGES</h3>
    <p>Properties can be mortgaged and the player will recieve half the properties purchasing price in cash. When mortgaged, the property cannot be bought by other players, but can be bought back at the same discounted price by the owner of the card.</p>

    <hr>
    <h2 class="card-head" id="rules">RULES</h2>
    
    <h3 class="card-subhead">BEFORE THE GAME</h3>
    <p>The aim of the game is to be the last player standing, this can be done via buying, renting, and selling properties.</p>
    <p>Each player starts with £1500.</p>
    
    <h3 class="card-subhead">THE GAME</h3>
    <p>A player rolls two dice, and moves foward as many spaces as the dice rolled.</p>
    <p>The space that a player lands on determines what they can do this round. (They may be: able to buy properties / made to pay rent/taxes / told to draw a card / forced to go to jail etc.)</p>
    <p>Once their turn is finished the next player rolls their dice. This repeats until all players bar one are bankrupt.</p>

    <h3 class="card-subhead">BANKRUPTCY</h3>
    <p>Bankruptcy can occur at any point in the game, a player becomes bankrupt when they owe more money than they own: They may owe money to another player or the bank.</p>
    <p>A bankrupt player is removed from the game. The last player left wins.</p>
    <br><br>

</div>
<br>
<br>
<footer>
    <div class="footer-legal">
        <p>Created by M10</p>
        <p>Ben | Doug | Jacob | Cally | Abu | Shiv | Charlie</p>
    </div>
</footer>
{% endblock %}