{% extends "base.html" %}

{% block head %}
<title>Lobby</title>
<meta name="description"
    content="Some description of the lobby page.">
<script type="text/javascript" src="/static/js/lobby.js"></script>
<link rel="stylesheet" href="/static/css/lobby.css">
{% endblock %}

{% block body %}

<div id="head">
  <h2 id="message">Welcome to the lobby!</h2>
  <h1 id="game-code">{{ game_code }}</h1>
</div>


<div id="button-div">
  <form action="/lobby" method="POST">  
    <input class="button" id="leave" type="submit" name="leaveButton" value="Leave Room"></input>
    <input class="button-disabled" id="start" type="submit" name="startButton" value="Start Game" disabled></input>
  </form>
</div>

<div id="table-div">
  <table id="players-table">
    <thead>
      <tr class="table-header">
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="table-body"></tbody>
  </table>
</div>

<div id="flashing-text"></div>

<footer>
  <div class="footer-legal">
      <p>Created by M10</p>
      <p>Ben | Doug | Jacob | Cally | Abu | Shiv | Charlie</p>
  </div>
</footer>
{% endblock %}

