{% extends "base.html" %}

{% block head %}
<title>Log In</title>
<meta name="description" content="Some description of the login/sign up page.">
<script type="text/javascript" src="/static/js/login.js"></script>
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %} 

{% block body %}
<div class="login-div">
    <form method="POST">  
        <h1 id="login-header">Log In</h1>
        <input class="text-input" type="text" id="username" name="loginname" placeholder="Username" required autofocus autocomplete="off"><br>
        <input class="text-input" type="password" id="password" name="loginpassword" placeholder="Password" required autofocus><br>
        <button class="button" id="submit" name="button" value="login">Log In</button>
    </form>
    <br>
    <p id="switch-p">Don't have an account?</p>
    <button id="switch">Sign Up</button>
</div>

<footer>
    <div class="footer-legal">
        <p>Created by M10</p>
        <p>Ben | Doug | Jacob | Cally | Abu | Shiv | Charlie</p>
    </div>
</footer>
{% endblock %}