{% extends "base.html" %}

{% block head %}
<title>Login</title>
<meta name="description" content="Some description of the login/sign up page.">
<script type="text/javascript" src="/static/js/login.js"></script>
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %} 

{% block body %}
<div>
    <form method="POST">  
        <h1>Log In</h1>
        <input class="text-input" type="text" id="username" name="loginname" placeholder="Username" required autofocus autocomplete="off"><br>
        <input class="text-input" type="password" id="password" name="loginpassword" placeholder="Password" required autofocus><br>
        <button class="button" name="button" value="login">Log In</button>
    </form>
    <br>
    <form method="POST">
        <h1>Sign Up</h1>
        <input class="text-input" type="text" id="username" name="signupname" placeholder="Username" required autofocus autocomplete="off"><br>
        <input class="text-input" type="password" id="password" name="signuppassword" placeholder="Password" required autofocus><br>
        <button class="button" name="button" value="signup">Sign Up</button>
    </form>
</div>
{% endblock %}