{% extends "base.html" %}

{% block head %}
<title>Menu</title>
<meta name="description"
    content="Join or create a Uni-opoly game with this menu page. Enter the game code, generate a new game, or access the help page.">
<script type="text/javascript" src="/static/js/menu.js"></script>
<link rel="stylesheet" href="/static/css/menu.css">
{% endblock %}

{% block body %}
<button class="button" id="log-out" onclick=log_out()>Log Out</button>
<div id="outer-frame">
    <div id="inner-frame">
        <form id="join-form" method="POST">
            <label id="code-label" for="text-input">Code:</label>
            <input class="text-input" type="tel" name="code" autocomplete="off" maxlength="6">
            <input class="button" type="submit" name="button" value="Join">
        </form>
        <form id="create-form" method="POST">
            <input class="button" type="submit" name="button" value="Create Game">
        </form>
    </div>
</div>
<button class="button" id="help-button" onclick="window.location.href='help';">Help Page</button>
{% endblock %}