{% extends "base.html" %}

{% block head %}
<title>Results</title>
<meta name="description" content="Some description of the winner page.">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/winner.css">
<script type="text/javascript" src="/static/js/winner.js"></script>
<!-- <script type="text/javascript" src="/static/js/lobby.js"></script> -->
<!-- <link rel="stylesheet" href="/static/css/lobby.css"> -->
{% endblock %}

{% block body %}

<div id="head">
<h2 id="message"></h2>
<h1 id="game-code">the winner is: {{winner}}</h1>
</div>

<div id="mid-section">
  <div id="button-div">
    <form action="/winner" method="POST">  
      <input class="button" id="leave" type="submit" name="returnToMenuButton" value="Menu"></input>
    </form>
  </div>
</div>

<div id="dice">
  <div id="left" class="scene">
    <div class="cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="right"></div>
      <div class="left"></div>
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
  </div>
  <div id="right" class="scene">
    <div class="cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="right"></div>
      <div class="left"></div>
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
  </div>
</div>


<footer>
  <div class="footer-legal">
      <p>Created by M10</p>
      <p>Ben | Doug | Jacob | Cally | Abu | Shiv | Charlie</p>
  </div>
</footer>
{% endblock %}